<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="wid, initial-scale=1.0">
    <title>ToDoList</title>
</head>
<body>
    <%  if(KindofDay==="Saturday"||KindofDay==="Sunday") { %>
    <h1 style="color: green;"><%=KindofDay%> 's list- </h1>
    <% }else{ %>
        <h1 style="color:blue;"> <%=KindofDay%> 's list-  </h1>
    <% } %>
</body>
</html>