<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="wid, initial-scale=1.0">
    <title>ToDoList</title>
</head>
<body>
<h1><%= KindofDay %>'s list</h1>
<ul>
    <li>Check email</li>
    <form action="/" method="post">
        <input type="text" name="work" placeholder="add another work" id="">
        <button type="submit">Ok</button>
    </form>
</ul>
</body>
</html>